---
const { projects } = Astro.props;
---

<div class="overflow-x-auto">
  <table class="w-100 collapse pv2 ph3 f6">
    <thead>
      <tr class="bb b--black-80">
        <!-- <th class="pv2 ph3 tl f7 fw7 ttu"></th> -->
        <th class="w-70-ns w-60 ph3-ns pv3-ns ph1 pv3 tl f7 fw7 ttu">TITLE</th>
        <th class="w-10-ns w-10 ph3-ns pv3-ns ph1 pv3 tc f7 fw7 ttu">TYPE</th>
        <th class="w-10-ns w-10 ph3-ns pv3-ns ph1 pv3 tc f7 fw7 ttu">YEAR</th>
        <th class="w-10-ns w-20 ph3-ns pv3-ns ph1 pv3 tc f7 fw7 ttu">STATUS</th>
      </tr>
    </thead>
    <tbody>
      {
        projects.map((project) => (
          <tr
            class="bb b--black-80 hover-bg-black-05 pointer"
            onclick={`window.open('${project.url}', '_blank')`}
          >
            {/* <td class="pa3 w3">
              {project.icon && (
                  <img
                    src={project.icon}
                    alt={`${project.title} icon`}
                    class="w-100"
                  />
              )}
            </td> */}
            <td class="relative">
              <div class="ph3-ns pv3-ns ph1 pv3">
                <div class="flex items-center mb1-ns">
                  <span class="f5-ns f6 fw7">{project.title}</span>
                  {/* <svg
                    class="w1 ml1"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M7 17L17 7M17 7H8M17 7V16"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg> */}
                </div>
                <span class="lh-title f6-ns f7">{project.description}</span>
              </div>

              {project.icon && (
                <div class="dbh absolute w-100 top-1 right-0 tr">
                  <img
                    src={project.icon}
                    alt={`${project.title} icon`}
                    class="h2"
                  />
                </div>
              )}
            </td>
            <td class="o-50 tc f7 ttu">
              {project.tags.map((tag, index) => (
                <Fragment>
                  {index !== 0 && ", "}
                  <span>{tag}</span>
                </Fragment>
              ))}
            </td>
            <td class="o-50 tc f7">{project.year}</td>
            <td class="o-50 tc f7">{project.status}</td>
          </tr>
        ))
      }
    </tbody>
  </table>
</div>

<style>
  .dbh {
    display: none;
  }
  tr:hover .dbh {
    display: block;
  }
</style>
